$teal: #0FF4C6;
$mutedTeal: #7DCFB6;
$reallyBlack: #000009;
$reallyGrey: #464F51;
$roseLavendar: #D68FD6;
$lime: #33CA7F;
$sunset: #FC9F5B;

$darkerPurple: #170A1C;
$darkerIndigo: #13062b;
$evenDarkerIndigo: #0b021b;
$darkerSidebar: #191331;
$panel: #271f47;
$powerPurple: #261447;
$powerPink: #FF3864;
$pinkIntensifies: #ff0095;
$powerPowderBlueLight: #8fccff;
$darkTeal: #0B7189;
$reallyBlue: #228CDB;
$lavendar: #9C95DC;
$rose: #C19AB7;
$lemon: #FFE97F;

$steel: #0D1B2A;
$steelMed: #1B263B;
$blueMuted: #415A77;
$blue: #778DA9;
$lightBlue: #E0E1DD;